

#contenedor{
	width: 90%;
	margin:10px auto 0 auto;
}

#header{
	width:100%;
	height:250px;
	background:lightgrey;
	margin:10px auto 0 auto;
    text-align: center;
}
#foto2{
	width: 120px;
	height: 120px;
	margin:0 auto 0 auto;
	
}
#banner{
    width: 100%;
    height: 65px;
    background: lightgrey;
    text-align: center;
    margin: 10px 0 0 0; 
    padding-top: 5px;
    clear:both;
}
#sidebar{
	width:28%;
	height:195px;
	background:lightgrey;
	margin:10px 1% 0 0;
	text-align:left;
	float: left;
	padding: 5px 0 0 1%;
}
#articulo{
	width:69%;
	height:195px;
	background:lightgrey;
	margin:10px 0 0 0;
	text-align:left;
	float: left;
	padding: 5px 0 0 1%;
}
#footer{
	width:100%;
	height:20px;
	background:lightgrey;
	margin:10px auto 0 auto;
	float:left;
	text-align:center;
	padding: 5px 0 5px 0;
}
#lista{
    width: 40%;
    height: 50px;
    background: grey;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}
@media screen and (max-width: 768px) {
  #header{
      height:120px;
  }
  #foto2{
      width:80px;
      height:80px;
  }
  #sidebar{
   width:15%;   
  }
  #articulo{
      width:82%;
  }
  #lista {
    display:none;
  }
}

@media screen and (max-width: 500px) {
    #header{
        height:100px;
    }
    #foto2{
        width:60px;
        height:60px;
    }
    #sidebar{
        display:none; 
    }
    #articulo{
        width:98%;
        text-align: center;
        padding: 5px 1% 5px 1%;
    }
    #lista {
      display:none;
    }
  }